venv/
build/
website/
logo/
docs/
.git/
.vscode/
.github/
node_modules/
**/__pycache__
**/*.pyd
**/*.so
**/_amigo_build/
*.pdf
*.png
*.aux
*.log
examples/race_lap_car/
examples/raceproject/
examples/river_crossing/
examples/raceproject/racefolder/
lib/
examples/racefolder/
amigo/block_detection.py
amigo/block_psd_convexifier.py
